<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Macrodesafio</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h1>Cadastrar Macrodesafio</h1>
    <form method="POST">
        <div class="form-group">
            <label for="macrotitle">Título do Macrodesafio</label>
            <input class="form-control" type="text" placeholder="título" name="macrotitle">
        </div>
        <div class="form-group">
            <label for="macrocoordinator">Coordenador</label>
            <input type="text" class="form-control" placeholder="coordenador" name="macrocoordinator">
        </div>
        <label for="macrodescription">Descrição</label>
        <textarea class="form-control" name="macrodescription" id="md" cols="30" rows="5" placeholder="description"></textarea>
        <br>
        <input type="submit" value="Enviar" class="btn btn-primary">

    </form>
</div>

</body>
</html>